extends index2
block content
	div(id="category_container")
		a(href="/category/science")
			img(src="/images/Science.png",class="sideIcon")
			span Science
		a(href="/category/religion")
			img(src="/images/religion.png",class="sideIcon")
			span Religion
		a(href="/category/politics")
			img(src="/images/politics.png",class="sideIcon")
			span Politics
		a(href="/category/personal")
			img(src="/images/personal.png",class="sideIcon")
			span Personal
		a(href="/category/sports")
			img(src="/images/sports.svg",class="sideIcon")
			span Sports
		a(href="/category/Humor")
			img(src="/images/humor.png",class="sideIcon")
			span Humor
		a(href="/category/technology")
			img(src="/images/technology.png",class="sideIcon")
			span Technology
		a(href="/category/mathematics")
			img(src="/images/mathematics.png",class="sideIcon")
			span Mathematics
		a(href="/category/education")
			img(src="/images/education.png",class="sideIcon")
			span Education
		a(href="/category/Interent")
			img(src="/images/internet.png",class="sideIcon")
			span Internet
		a(href="/category/world")
			img(src="/images/world.png",class="sideIcon")
			span World
