extends index2
block content
	form(method="POST",action='/create',name='register',id="reg")
		h3 Title should be concise, elaborate in the description.
		input(class="form-control input",type='text',name='title',placeholder="Category Title",required)
		h3 Describe the category, read <a href="/wiki">wiki</a> for details.
		textarea(class="form-control input",rows="5",type='textbox',name='description',placeholder="Description",required)
		span(id="mess")	The rest of the details will not be public.
		hr
		h3	Why do you think this category should be on skile?
		textarea(class="form-control input",rows="5",id="whycat",type='textbox',name='whycat',placeholder="Why?",required)
		h3 Do you want to be the administrator for the category?
		<input type="radio" name='admin' value="1" id="radio" required> Yes
		<input type="radio" name='admin' value="0" id="radio" required> No
		input(class="btn btn-lg btn-primary btn-block",type='submit',required,id="log")