extends index2
block content
	div(id="pollcr")
		form(method="POST",action='/create',name='register',class="col-mid-6")
			h3 Add a poll Question, it will have Yes and No options.
			input(class="form-control",type='text',class="mar",name='question',placeholder="Poll Question",required)
			input(class="form-control",type='text',class="mar",name='tags',placeholder="Tags Here,comma separated")
			input(class="btn mar",type='Submit',value="Create")