extends index
block content
	div(id="latest_container")
		h2 Latest Polls Come Here
		div(id="poll_1")
			h3 Poll Question
			canvas(id="myCanvas",width="400px",height="30px")
			br
			button(id="up") Yes
			p(id="upVal")
			button(id="down") No
			p(id="downVal")