extends index
block content
	div(id="inst")
		h3 Login and vote in these polls or create your own polls.
	div(id="latest_container")
		h2 Latest Polls Come Here
		-var i=0
		-var myOptions = []
		-var k = []
		-for(var j=0;j<items.length;j++){
			-k.push(0)
			-myOptions.push([])
			-for(item in items[j]){
				-var a = item.split('_')
				-if(a.length===2&&k[j]<(Object.keys(items[j]).length-1))
					-myOptions[j].push(items[j][item])
				-k[j]+=1
			-}
		-}		
		div(id="poll")
			ul
				each item in items
					li
						h2(id=item._id,class="question")
							a(href='/polls/'+item._id) 
								=item.question
						canvas(id="myCanvas_"+i,width="400px",height="40px")
						br
						each option in myOptions[i]
								button(class="btn")
									=option 
						-i+=1
						hr