extends index
block content
	div(id="latest_container")
		h2 Latest Polls Come Here
		-var i=0
		div(id="poll")
			ul
				each item in items
					li
						h2(id=item._id,class="question")
							a(href='#') 
								=item.question
						canvas(id="myCanvas_"+i,width="400px",height="40px")
						br
						button(id="upVal_"+i,class="btn") #{item.up}
						button(id="downVal_"+i,class="btn") #{item.down}
						-i+=1
						hr