doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/script.js')
	script(type="text/javascript",src='/javascripts/bar2.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style2.css')
	script(type="text/javascript",src="/javascripts/analytic.js")
	script(type="text/javascript",src="/javascripts/create.js")
	script(type="text/javascript",src="/javascripts/sideBar.js")
	script(type="text/javascript",src="/javascripts/category.js")
	script(type="text/javascript",src="/javascripts/categoryPollCreate.js")
	title=title
	body
				//- li(id="polls",class="bot_bor")
				//- 	a(href="/polls") Polls
				//- li(id="search",class="bot_bor")
				//- 	input(class='form-control',placeholder="Search",id="search2",name="search")
				//- 	div(id="results")
				nav.row
					.col-md-12
						ul#navItems.col-md-12
							li.col-md-2
								a(href="/")
									span.fa.fa-home
									| Home
							li.col-md-3
									a(href="/create") 
										span.fa.fa-home
										| Create Poll
							li.col-md-2
								a(href="/profile") Profile
							li.col-md-3
									a(href="/mypolls") My Polls
							li.col-md-2
								a(href="/category") Category
							li.col-md-2
								#logout.tip(title='Leave?')
										a(href="/logout") 
											span.fa.fa-users
											| Logout


			//- div(id="sideBar")
			//- 	a(href="/category",id="category")
			//- 		img(src="/images/category.png",class="sideIcon")
			//- 		span Category
			//- 		div(id="sideSideBar")
			//- 			a(href="/category/science")
			//- 				img(src="/images/science.png",class="sideIcon")
			//- 				span Science
			//- 			a(href="/category/religion")
			//- 				img(src="/images/religion.png",class="sideIcon")
			//- 				span Religion
			//- 			a(href="/category/politics")
			//- 				img(src="/images/politics.png",class="sideIcon")
			//- 				span Politics
			//- 			a(href="/category/personal")
			//- 				br
			//- 				img(src="/images/personal.png",class="sideIcon")
			//- 				span Personal
			//- 			a(href="/category/sports")

			//- 				img(src="/images/sports.svg",class="sideIcon")
			//- 				span Sports
			//- 			a(href="/category/Humor")
			//- 				br
			//- 				img(src="/images/humor.png",class="sideIcon")
			//- 				span Humor
			//- 			a(href="/category/technology")
			//- 				br
			//- 				img(src="/images/technology.png",class="sideIcon")
			//- 				span Technology
			//- 			a(href="/category/mathematics")
			//- 				br
			//- 				img(src="/images/mathematics.png",class="sideIcon")
			//- 				span Mathematics
			//- 			a(href="/category/education")
			//- 				br
			//- 				img(src="/images/education.png",class="sideIcon")
			//- 				span Education
			//- 			a(href="/category/Interent")
			//- 				br
			//- 				img(src="/images/internet.png",class="sideIcon")
			//- 				span Internet
			//- 			a(href="/category/world")
			//- 				br
			//- 				img(src="/images/world.png",class="sideIcon")
			//- 				span World
									
		block content
