doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/script.js')
	script(type="text/javascript",src='/javascripts/bar.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	title=title
	body
		navbar
			ul(class="nav nav-pills")
				li(id="home",class="bot_bor")
					a(href="/") Home
				li(id="profile",class="bot_bor")
					a(href="/profile") Profile
				li(id="createpoll",class="bot_bor")
					a(href="/create") Create Poll
				li(id="mypoll",class="bot_bor")
					a(href="/mypolls") My Polls
				li(id="search",class="bot_bor")
					input(class='form-control',placeholder="Search",id="search2",name="search")
					div(id="results")
				li(id="logout",class="btn")
					a(href="/logout") Logout
		div(id="container")
				img(src="/images/ajax-loader.gif",id="aj")
			block content
