doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/script.js')
	script(type="text/javascript",src='/javascripts/bar2.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	script(type="text/javascript",src="/javascripts/analytic.js")
	title=title
	body
		nav
			ul(class="nav nav-pills")
				li(id="home")
					a(href="/") Home
				li(id="login")
					a(href="/login") Login
				li(id="regnav")
					a(href="/register") Register
				
		div(id="container")
			block content
