doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/script.js')
	script(type="text/javascript",src='/javascripts/bar.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	title=title
	body
		navbar
			ul(class="nav nav-pills")
				li(id="home",class="bot_bor")
					a(href="/") Home
				li(id="login",class="bot_bor")
					a(href="/login") Login
				li(id="regnav",class="bot_bor")
					a(href="/register") register
				
		div(id="container")
			block content
