doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/script.js')
	script(type="text/javascript",src='/javascripts/bar.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	script(type="text/javascript",src="/javascripts/analytic.js")
	title=title
	body
		nav
			ul(class="nav nav-pills")
				li(id="home",class="bot_bor")
					a(href="/") Home
				li(id="polls",class="bot_bor")
					a(href="/polls") Polls
				li(id="profile",class="bot_bor")
					a(href="/profile") Profile
				li(id="createpoll",class="bot_bor")
					a(href="/create") Create Poll
				li(id="mypoll",class="bot_bor")
					a(href="/mypolls") My Polls
				li(id="search",class="bot_bor")
					input(class='form-control',placeholder="Search",id="search2",name="search")
					div(id="results")
				li(id="aj_container")
					img(src="/images/load1.gif",id="aj")
				li(id="logout")
					a(href="/logout") Logout
			block content
