extends index
block content
	div(id="login_container")
		p Have an account, then login!	
		form(method="POST",action='/login',name='login',id="login")
			input(class="form-control",type='text',name='user',placeholder="Username",required)
			input(class="form-control",type='password',name='pass',placeholder="Password",required)
			input(class="btn-block",type='submit',id='log',value='Submit')
			br
			p Don't have an account?
			a(href="/register")
				input(type="button",value="Register",class="")