extends index2
block content
	table(class="table-striped table-bordered col-md-6 col-sm-6 col-xs-6",id="prof")
		tr
			th Username
			th Password
			th Email
		tr
			td #{doc.user}
			td #{doc.pass}
			td #{doc.email}

	a(href="/edit",id="edit")		
		button(class="btn") Edit
	div(id="stats",class="col-md-3 col-sm-3 col-xs-3")
		h3 Joint On:#{doc.date}
		h3 Polls created:

		
