extends index2
block content
	table(class="table table-striped table-bordered table-condensed",id="prof")
		tr
			th Username
			th Password
			th Email
		tr
			td #{doc.user}
			td #{doc.pass}
			td #{doc.email}

		
