extends index
block content
	div(id="register_container")
		p Create a new Account
		form(method="POST",action='/register',name='register',id="reg")
			input(class="form-control input",type='text',id="user",name='user',placeholder="Username",required)
			input(class="form-control input",id="pass",type='password',name='pass',placeholder="Password",required)
			input(class="form-control input",id="con_pass",type='password',name='re-pass',placeholder="Confirm Password",required)
			input(class="form-control input",id="email",type='email',name='email',placeholder="Email",required)
			input(class="btn-block",type='submit',id="log3")
			
