<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Firexit</title>
  <link rel="stylesheet" href="superslides.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <style type="text/css">
    body{
      background-color: #111;
      color: white;
    }
    #container{
      background-color: #222;
      width: 90%;
      color:#428bca;
      margin: auto;
      padding: 80px;
      border-top-left-radius: 25px;
      margin-top: 100px;
    }
    .nav{
      left: 0px;
    }

  </style>
</head>
<body>
<div id="container">
<h3>Third game developed and published by Firexit Software.
High qualiy graphics with efficient lighting and asset size.
Includes 3 cars and 2 racing tracks.
<!--<some screenshots> <gameplay video link> <link to the game>-->
</h3>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav">
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" href="home.html">
            <img src="images/LOGO_WHITE.png" id="logo">
          </a>        
        </div>
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            COMPANY
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu navbar-inverse">
                <li class="dropdown-submenu"><a href="about.html">About Firexit</a></li>
                <li class="dropdown-submenu"><a href="team.html">Team</a></li>
                <li class="dropdown-submenu"><a href="contact-us.html">Contact Us</a></li>
                
        </div>
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            OUR GAMES
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu navbar-inverse">
            <li class="dropdown-submenu"><a href="blockalypse.html">Speed Street : Tokyo </a></li> 
                 <li class="dropdown-submenu"><a href="xpro.html">XPro Rally</a></li>
                 <li class="dropdown-submenu"><a href="blockalypse.html">Blockalypse Now!</a></li>       
        </div>
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" href="devs.html">
             SERVICES PORTFOLIO 
          </a>                       
        </div>
        <div class="btn-group dropup">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            FOLLOW US
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu navbar-inverse">
                <li class="dropdown-submenu"><iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFirexitSoftware%3Fref%3Dbr_tf&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80"></iframe></li>      
        </div>
      </ul>
    </div>
  </div>
</nav>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
</body>
</html>