body{
	background-color: #ADD5F7;
}

ul{
	list-style: none;
}

a{
	text-decoration: none!important;
}
th{
	text-align: center;
	color: #16193B;
}
canvas{
	width:100%;
}
/*
=================Navigation=====
 */
nav{
	width: 100%;
	height: 50px;
	background-color: #35478C;
}

/*
=================Login and Registration=====
 */
#login_container{
	margin: 50px auto;
	width: 300px;
	padding: 20px;	
	color: #3E454C;
	background-color: #FFF6E5;
}
#login_container input{
	margin-top: 10px;
}
#register_container{
	margin: 50px auto;
	width: 300px;
	padding: 20px;
	color: #3E454C;
	background-color: #FFF6E5;	
	
}
#register_container input{
	margin-top: 10px;
}
#log{
	margin-top: 40px;
}
#log3{
	margin: auto;
	margin-top: 40px;
}

/*
=================HomePage=====
 */
#latest_container{
	margin:50px auto;
	width: 500px;
	padding: 20px;
	background-color: #35478C;
	text-align: center;
	color: #ADD5F7;
}

#logout{
float: right;
padding: 0px;
}
.sp{
	font-size: 25px;
	margin: 10px;
	color: #3E454C;
	font-family: Helvetica;
}
/*
=================Profile=====
 */
#prof{
	text-align: center;
	height: 150px;
	margin: 50px;
	margin-top: 70px;
	background-color: #16193B;
	color: #FFF6E5;
}
#edit{
	position: absolute;
	left: 50%;
}
#stats{
	background-color: #35478C;
	height: 200px;
	margin: 50px;
	color: #7FB2F0;
	padding: 20px;
	text-align: center;
}
.table-bordered{
	border:5px solid #3E454C;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
	border:0px;
}
/*
=================Create Poll=====
 */
#pollcr{
	width: 500px;
	margin: 50px auto;
	padding: 30px;
	background-color: #FFF6E5;
}
.mar{
	margin: 20px auto;
}
#search>input{
	border-radius: 0px!important;
	margin-left: 40px;
}
.hide{
	display: none;
}
button{
	margin: 10px;
}
#inst{
	float: left;
	width: 20%;
	color: #7FB2F0;
	margin: 50px;
	padding: 30px;
	clear: both;
	background-color: #35478C;
}
/*
=================Poll Page=====
 */
#polls_container{
	color: #7FB2F0;
	margin: 50px auto 50px;
	width: 40%;
	padding: 20px;
	background-color: #35478C;
	
}
#my_container{
	
	margin: auto;
	width: 500px;
	padding: 20px;
}
#comment_inp{
	width: 500px;
	margin: 5px auto 10px;
}
#comm{
	background-color: #FFF6E5;
	color: #3E454C;
	padding: 30px;
	width: 55%;	
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px; 
	margin: 30px auto;
}
#poll{
	margin: 20px auto;
	padding: 10px;
	background-color: #7FB2F0;
}
#poll a{
	color: #16193B!important;
}
.btn{
	color: #ADD5F7;
	background-color: #16193B;
	border:1px solid #ADD5F7;
}
.btn:hover{
	color: #FF7F66;
}
.nav-pills>li>a{
	border-radius: 0px!important;
	color: #7FB2F0;
}
.nav-pills>li>a:hover{
	opacity: 0.9;
	color: #ADD5F7;
	background-color: #16193B;
}

/*
=================Ajax Image=====
 */
#aj_container{
	float: right;
}